body {
  user-select: none;
  text-align: center;
  user-drag: none;
  font-size: 25px; 
  font-family: courier, "Courier New", monospace; 
  background-color: black;
}

h1 {
  font-size: 5em;
}
h3 {
  font-size: 2em;
}

input {
  /*display: block;*/
}

p {
  margin: 1em;
}

form {
    margin: 1em;
}

#actors {
  display: none;
}

#game {
  background: url(../img/spooky-background.jpg);
  width: 1366px;
  height: 768px;
  overflow: hidden;
  cursor: none;
}

#crosshair {
  /*display: none;*/
  position: relative;
  float:left;
  z-index: 2;
  background: url(../img/crosshair.png);
  width: 60px;
  height: 60px;
}

.sprite {
  position: relative;
  z-index: 3;
  top: 0px;
  display: block;
  background: url(../img/sprites_custom.png) no-repeat;
}

.shot {
  background-position: -836px -208px;
  width: 104px;
  height: 74px;

}

.duck.right {
  background-position: -836px -208px;
  width: 104px;
  height: 74px;
  left: -40px;
}

.duck.right.flap {
  background-position: -695px -208px;
  width: 104px;
  height: 74px;
}

.duck.right.demon {
  left: 100px;
  top: 100px;
  background-position: -836px -428px;
/*    width: 104px;
  height: 74px;*/
}

.duck.right.demon.flap {
  left: 100px;
  top: 100px;
  background-position: -695px -428px;
/*    width: 104px;
  height: 74px;*/
}

.sound-icon {
  position: absolute;
  left: 786px;
  top: 30px;
  border-radius: 100%;
  background: url(../img/steps_sprite.png);
  width: 100px;
  height: 100px;
}

.sound-icon.unmute {
  background-position-x: -100px; 
}
/*.duck-holder {
  width: 300%;
  height: 100%;
}*/

.dead {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.undead {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

#game-over {
  font-size: 0.75em;
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#game-over-message {
  text-transform: uppercase;
  font-family: courier, "Courier New", monospace;
  background: #000;
  color: #FFF;
  width: 600px;
  font-size: 4em;
  padding: 1.4em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

#game-over-message p {
  padding-top: 2em;
  font-size: 0.4em;
}

#score {
  position: absolute;
  top: 687px;
  left: 1063px;
  z-index: 4;
  color: white;
  filter: blur(20px);
}

.creepy {
  font-family: Creepster;
}