body {
  user-select: none;
  text-align: center;
  user-drag: none;
  font-size: 25px;  
}

h1 {
  font-size: 5em;
}
h3 {
  font-size: 2em;
}

input {
  /*display: block;*/
}

p {
  margin: 1em;
}
#actors {
  display: none;
}

#game {
  background: url(../img/background.jpg);
  width: 1366px;
  height: 768px;
  overflow: hidden;
  cursor: none;
}

#crosshair {
  /*display: none;*/
  position: relative;
  float:left;
  z-index: 2;
  background: url(../img/crosshair.png);
  width: 60px;
  height: 60px;
}

.sprite {
  position: relative;
  z-index: 3;
  left: 0px;
  top: 0px;
  display: block;
  background: url(../img/sprites.png) no-repeat;
}

.duck.right {
  background-position: -836px -208px;
  width: 104px;
  height: 74px;
  left: -40px;
}

.duck.right.flap {
  background-position: -695px -208px;
  width: 104px;
  height: 74px;
}

.dead {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

#game-over {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#game-over-message {
  text-transform: uppercase;
  font-family: courier, "Courier New", monospace;
  background: #000;
  color: #FFF;
  width: 600px;
  font-size: 4em;
  padding: 1.4em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

#game-over-message p {
  padding-top: 2em;
  font-size: 0.4em;
}

#play-button {

  background-color: grey;
  border: 
}

form {
    margin: 1em;
}
