 .modal-background {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-color: grey;
}

/*
body {

  padding: 2em;
  padding-right: 2em;
  font-family: Futura;

}*/

/*.my-modal:before {
  content: "x";
  font-size: 1em;
  float: right;
  background-color: white;
  color: black;
  border-radius: 100%;
  cursor: pointer;
  width: 1.6em;
  height: 1.6em;
  padding: 0em 0em 0px 0.1em;
  position: relative;
  top: -25px;
  left: 25px;
}*/


.my-modal {

  position: relative;
  padding: 1em;
  background-color: black;
  color: white; 
  width: 35em;
  margin-top: 2em;
  margin-right: auto;
  margin-left: auto;
  /*box-shadow: 0.5em 0.5em 0.5em;*/
  /*border-radius: 0em;*/
  z-index: 4

}

.modal-background {

  position: fixed;
  top: 0;
  left: 0;
  /*opacity: 1;*/
 /* transition: background-color 0.3s ease;
  transition: opacity 0.3 ease;*/
  z-index: 3

}

.modal-button {

  background: #5A5A5A;
  background-image: -webkit-linear-gradient(top, #5A5A5A, #060606);
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 1px;
  text-decoration: none;
}

.modal-button:hover {
  background: #060606;
  text-decoration: none;
}

/*
.t300img-container {
  height: 300px;
  width: 300px;
  margin: 1em auto 1em auto;
  background-image: url("img/default_image.png");
}*/


.my-modal img {
  opacity: 0;
}

.my-modal p 
{
  overflow-y:scroll;
}

